h1{
    text-align: center;
     color: grey;
     text-shadow: 2px 2px 3px #FF0000;
     background-color: linen;
}
.chap{
    text-align: center;
    background-color: lightgoldenrodyellow;
}